.local/
**/node_modules/
**/dist/
**/package-lock.json
!js-client/package-lock.json
!space-game/client/package-lock.json
**/.DS_Store
rust-server/target/
rust-server/config/*.private.yaml
rust-server/config/*.private.yml
space-game/.local/
